<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Seattle Fitness</title>
      <link rel="stylesheet" href="/static/css/styles.css">
   </head>
   <body>
      <nav>
         <ul>
            <li><a href="/">Home</a></li>
            <li><a href="customers">Customers</a></li>
            <li><a href="classes">Classes</a></li>
            <li><a href="events">Events</a></li>
            <li><a href="studios">Studios</a></li>
            <li><a href="scheduled">Scheduled</a></li>
            <li><a href="categories">Categories</a></li>
         </ul>
      </nav>
      <header>
         <h1>Welcome to Seattle Fitness!</h1>
      </header>
      {# CITATION: https://flask.palletsprojects.com/en/1.1.x/patterns/flashing/ #}
      <div align="center">
         {% with messages = get_flashed_messages(with_categories=true) %}
         {% if messages %}
         {% for category, message in messages %}
         <div class="flash-message {{ category }}">
            {{ message }}
         </div>
         {% endfor %}
         {% endif %}
         {% endwith %}
      </div>
      <div class="content-box">
      <div style="display: block">
         <p>Seattle Fitness, a rapidly expanding studio company, is excited to introduce our new database driven website.
            This dynamic platform allows customers to seamlessly sign up and track their classes and upcoming events.
         <p>It also offers our administrative team a comprehensive system to manage events, classes, and customers.
            Now lets get after it!
         </p>
      </div>
      <form action="/refresh_db" method="get">
         <input class="btn" type="button" value="Refresh Database" onclick="window.location.href='/refresh_db'">
      </form>
      <footer>
         <p>@2023 Group 26, Shi Qin and Brian Heartwood</p>
      </footer>
   </body>
</html>