<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Scheduled Classes \& Events</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="customers">Customers</a></li>
          <li><a href="classes">Classes</a></li>
          <li><a href="events">Events</a></li>
          <li><a href="studios">Studios</a></li>
          <li><a href="scheduled">Scheduled</a></li>
          <li><a href="categories">Categories</a></li>
        </ul>
      </nav>
          <header>
        <h1>Scheduled Classes & Events</h1>
    </header>

</main>
    <footer>
        @2023 Group 26, Shi Qin and Brian Heartwood
    </footer>
</body>
</html>

